<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{% endblock %}
</head>

<body>
	<div class="container">
		<!-- Navigation -->
		<div class="header">
			{% include 'mentorfinder/nav.html' %}
		</div>

		{% if messages %}
		<div class="alert alert-info" role="alert">
			{% for message in messages %}
			<span{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span>
			{% endfor %}
		</div>
		{% endif %}
		{% block content %}{% endblock %}
	</div>
	{% block scripts %}{% endblock %}
</body>

</html>
